{%extends "user/base.html.twig" %}
{% block main %}


    <div class="divP flex">
        <h2 class="h2">Bijour !! Tissus ?</h2>
        <p class="Derlinda p">Entrez dans mon univers, ma collection, ma boutique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem blanditiis commodi consequuntur corporis debitis distinctio, dolorem esse fugiat harum molestiae neque, nihil nobis provident quae qui quisquam ratione repellat repellendus sit tenetur velit voluptas voluptates. A atque beatae, cum deleniti dolore eligendi et eveniet fugiat fugit harum laboriosam magni minus modi mollitia numquam odio quis, ratione, suscipit totam ut. Ab ad beatae dolorem enim esse eveniet expedita id iure labore mollitia nesciunt nostrum nulla omnis, placeat quo ratione sequi sit veniam. Accusantium adipisci alias corporis, deserunt est, expedita facilis id illum, iste iusto modi praesentium similique sit. Earum, totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur dolore unde? Aut blanditiis dicta dolores, esse in molestias nisi nobis officia placeat, possimus rerum totam? Dignissimos dolorem esse ex illum nam obcaecati perspiciatis soluta suscipit vel. Dolor, pariatur quidem? Ab aperiam atque corporis cumque cupiditate debitis dolor dolorem doloremque ea earum eligendi enim error est expedita facere fuga illum impedit ipsa iure, iusto magnam maxime molestias mollitia natus nisi officia praesentium provident quaerat quis sint soluta tempore totam, unde vel veritatis voluptate, voluptatibus? Blanditiis consequuntur, dignissimos eius eligendi eum eveniet harum in labore libero modi praesentium qui sint, velit!</p>



        <div class="div_btn flex">
            <div class="btn_enter relative hover">
                <a class="link_enter Derlinda relative" href= "{{ path('app_register') }}"><span class="Darkred">E</span>ntrez!</a>
            </div>
        </div>

    <footer class="footer">

    </footer>



{% endblock main %}